@import 'variables';
@import 'media-queries';

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 72px;
}
.skills h2 {
  color: $primary-color;
  text-transform: uppercase;
  font-size: 40px;
  margin-top: 72px;
  margin-bottom: 72px;
}
.skill__label {
  margin-bottom: 8px;
  display: flex;
  @include for-mobile {
    width: 90%;
  }
}
.skill__label:last-child {
  margin-bottom: 0;
}
.skill__label label {
  display: inline-block;
  background-color: #242729;
  color: white;
  width: 148px;
  height: 40px;
  text-align: center;
  font-size: 24px;
  line-height: 40px;

  @include for-mobile {
    width: 200px;
  }
}
.skill__label progress {
  width: 648px;
  height: 40px;
  vertical-align: bottom;
  appearance: none;
  position: relative;
}
.skill__label progress::before,
.skill__label progress::after {
  position: absolute;
  height: 40px;
  top: 0;
  line-height: 40px;
  color: #959595;
  font-size: 20px;
}
.skill__label progress::before {
  content: attr(value);
  right: 28px;
}
.skill__label progress::after {
  content: '%';
  right: 6px;
}

.skill__label progress[value]::-webkit-progress-bar {
  background-color: #d6d6d6;
  border-radius: 0 3px 3px 0;
}
.skill__label progress[value]::-webkit-progress-value {
  background-color: $primary-color;
}
